<!DOCTYPE html>

<html
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="_layout" >
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <h1>Editar Tipo de Paciente</h1>
            
            <div th:if="${mensaje != null}">
                <div class="alert alert-warning" role="alert">
                    [[${mensaje}]]
                </div>
            </div>
            
            <form th:action="@{/put-tipo-paciente}" method="POST" th:object="${tipoPaciente}">
                <div class="mb-3">
                    <label class="form-label" for="nombreTipoPaciente" >Nombre del Tipo de Paciente</label>    
                    <input type="text" class="form-control" id="nombreTipoPaciente" th:field="*{nombreTipoPaciente}" />
                </div>

                <input type="hidden" th:field="*{IdTipoPaciente}" />
                <input type="hidden" th:field="*{activo}" />

                <a class="btn btn-secondary" th:href="@{/tipo-pacientes}">Regresar</a>
                <input type="submit" title="Guardar" value="Guardar" class="btn btn-primary" />                
            </form>
        </div>
    </body>
</html>
