<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="_layout">
    <head>
        <title>VetPet - Tipo de Paciente</title>
    </head>
    <body>

        <div class="container mt-2" layout:fragment="content">
            <h1>Mantenimiento de Razas</h1>

            <div class="mb-2">
                <a class="btn btn-primary" th:href="@{/crear-raza}">Crear Raza</a>
            </div>

            <div th:if="${tipoPacientes != null and !tipoPacientes.empty}">
                <table class="table table-stryped">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th >Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tipo, contador : ${tipoPacientes}">
                            <td>[[${contador.count}]]</td>
                            <td>[[${tipo.nombreTipoPaciente}]]</td>
                            <td> 
                                <a  
                                    th:href="@{/editar-tipo-paciente/} + ${tipo.IdTipoPaciente}"
                                    class="btn btn-secondary btn-edit-raza">
                                    <i class="fas fa-angle-double-right"></i> Editar
                                </a>
                                <a 
                                    th:attr="data-id=${tipo.IdTipoPaciente}"
                                    class="btn btn-danger btn-delete-tipo-paciente">

                                    <i class="fas fa-angle-double-right"></i> Eliminar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <input id="url-delete" th:value="@{/delete-raza/}" hidden />
        </div>

        <script >
            $(document).on("click", ".btn-delete-raza", function () {
                let id = $(this).attr("data-id");
                const url = $("#url-delete").val();

                swal({
                    title: "¿Estas seguro de eliminar esta raza?",
                    text: "¡Una vez eliminado no se podra restaurar!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                        .then((willDelete) => {
                            if (willDelete) {
                                $.ajax({
                                    type: "POST",
                                    url: url + id,
                                    dataType: "json",
                                    success: function (respuesta) {
                                        if (!respuesta.error) {
                                            swal("La raza fue eliminada correctamente.", {
                                                icon: "success"
                                            }).then(() => {
                                                window.location.reload();
                                            });
                                        }
                                    },
                                    error: function (e) {
                                        swal("Algo salio mal en el servidor!!.", {
                                            icon: "info"
                                        });
                                        console.log("ERROR: ", e);
                                    },
                                    done: function (e) {
                                        console.log("DONE");
                                    }
                                });


                            }
                        });

            });
        </script>
    </body>
</html>
