<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="_layout">
    <head>
        <title>VetPet - Crear Raza</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <h1>Crear Raza</h1>

            <div th:if="${mensaje != null}">
                <div class="alert alert-warning" role="alert">
                    [[${mensaje}]]
                </div>
            </div>

            <form th:action="@{/post-raza}" method="POST" th:object="${raza}">
                <div class="mb-3">
                    <label class="form-label" for="nombreRaza" >Nombre de la Raza</label>    
                    <input type="text" class="form-control" id="nombreRaza" th:field="*{nombreRaza}" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="tipoPaciente" >Tipo de Paciente</label>    

                    <select class="form-select"  th:field="*{tipoPaciente}">
                        <option disabled="true" value="0">Seleccione una opcion</option>

                        <option th:each="tipo : ${tipoPacientes}" th:value="${tipo.IdTipoPaciente}" th:text="${tipo.nombreTipoPaciente}" ></option>
                    </select>
                </div>

                <a class="btn btn-secondary" th:href="@{/razas}">Regresar</a>
                <input type="submit" title="Guardar" value="Guardar" class="btn btn-primary" />
            </form>
        </div>
    </body>
</html>
