<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"  
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="_layout">
    <head>
        <title>VetPet - Razas</title>
    </head>
    <body>

        <div class="container mt-2" layout:fragment="content">
            <h1>Mantenimiento de Razas</h1>

            <div class="mb-2">
                <a class="btn btn-primary" th:href="@{/crear-raza}">Crear Raza</a>
            </div>

            <div th:if="${razas != null and !razas.empty}">
                <table class="table table-stryped">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th >Nombre</th>
                            <th >Tipo Paciente</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="raza, contador : ${razas}">
                            <td>[[${contador.count}]]</td>
                            <td>[[${raza.nombreRaza}]]</td>
                            <td>[[${raza.tipoPaciente}]]</td>
                            <td> 
                                <a  
                                    th:href="@{/editar-raza/} + ${raza.razaId}"
                                    class="btn btn-secondary btn-edit-raza">
                                    <i class="fas fa-angle-double-right"></i> Editar
                                </a>
                                <a 
                                    th:attr="data-id=${raza.razaId}"
                                    class="btn btn-danger btn-delete-raza">

                                    <i class="fas fa-angle-double-right"></i> Eliminar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <input id="url-delete" th:value="@{/delete-raza/}" hidden />
        </div>

        <th:block layout:fragment="script">
            <script th:src="@{/js/razas.js}"></script>
        </th:block>

    </body>
</html>
